@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
} 

:root {
    --bg-color: #eee;
    --second-bg: white;
    --bg-blur: #d9d9d9;
    --primary-accent: #5D3ED2;
    --light-primary-accent: #a59dff;
    --secondary-accent: #4b5bb3;
    --text: #444;
    --border: #ddd;
}

[data-theme="dark"] {
    --primary-accent: #392481;
    --bg-color: #0e1116;
    --second-bg: #ddd;
    --bg-blur: #191919;
    --text: #eee;
    --border: #222;
}

body {
    background: var(--bg-color);
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: var(--text);
}

/* =================
LOGIN/CREATE
================= */
.progress {
    border-radius: 1em 1em 0 0;
    left: 0.3em; 
    width: 98%;
}

.card {
    width: 100%;
    background: var(--second-bg);
    border-radius: 1em;
    box-shadow: 1px 1px 15px var(--bg-blur);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card-header img {
    border-radius: 50%;
    border: 10px solid var(--second-bg);
    width: 100px;
    height: 100px;
    background: var(--second-bg);
}

.card-header h1 {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    margin: 0;
    color: var(--primary-accent);
}

.card button, .compose-drawer button {
    border: 0;
    transition: 0.3s ease-in-out;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.action, .compose-drawer button {
    box-shadow: 1px 1px 3px #ccc;
    background-color: var(--primary-accent);
    color: white;
    align-self: flex-end;
    width: 20%;
    border-radius: 3px;
    padding: 1em;
}

.action:hover, .compose-drawer button:hover {
    cursor: pointer;
    background-color: var(--light-primary-accent);
}

.link { 
    background: white;
    text-align: left;
    color: var(--primary-accent);
    margin: 1em 0 0 0;
    width: 46%;
}

.link:hover {
    cursor: pointer;
    color: var(--light-primary-accent);
}

.link:focus {
    border: none;
    outline: none;
}

/* =================
NAV BAR
================= */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background: var(--primary-accent);
    color: #eee;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

header div {
    display: flex;
}

header img {
    width: 50px;
    align-self: center;
    border-radius: 50%;
    margin: 0 1em;
}

header button {
    justify-self: flex-end;
}

/* =================
MSG ACTION BAR
================= */
.action-bar {
    width: 90%;
    background: var(--second-bg);
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 1px 1px 10px var(--bg-blur);
    position: sticky;
    top: 1em;
    z-index: 1;
}

.action-bar {
    font-family: 'Roboto Mono';
}

#compose {
    font-family: 'Roboto Mono';
    float: right;
    margin-right: 1em;
}

/* =================
INBOX
================= */
.inbox {
    width: 90%;
}

.inbox li {
    cursor: pointer;
    border-bottom: 1px solid var(--border);
}

.inbox li:last-of-type {
    border-bottom: none;
}

.subject, .date {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace; 
    letter-spacing: -0.04em;
}

.body {
    color: var(--text);
}

.date {
    color: var(--secondary-accent);
}

.compose-drawer {
    padding: 1.5em;
}

.compose-drawer h2 {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    color: var(--primary-accent);
    margin: 0 0 1em 0;
}
